@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
$visual-grid: true;
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";

body {
  background: url(../assets/bg.jpg);
  opacity: 50;
  color: #fff;

}
main{
  @include outer-container;

}

// Header section

header{
@include span-columns(12);
.social-nav {
  @include span-columns(6 of 12);
  @include shift(6);

  // .subscribe {
  //   @include span-columns(2 of 6);
  //   @include shift(1);
  //   text-decoration: none;
  //   color: #fff;
  //   font-size: 20px;
  // }
}
.subscribe {
  @include span-columns(2 of 6);
  @include shift(1);
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  padding-top: 10px;
}

.icons{
  @include span-columns(3 of 6);
  // @include shift(3.59);
  text-align: right;

.fa {
  font-size: 60px;
}

.fa-facebook-square {
  color: #38559E;
}
.fa-rss-square {
  color: #E15A00;
}
.fa-twitter-square {
  color: #7AC3F6;
}
.fa-youtube-square{
  color: #E64A41;
  }
}

.page-menu {
  @include span-columns(12);
  }
ul {
  @include span-columns(12);
  padding: 0px;
}

nav{

 li {
  @include span-columns(3 of 12);
    list-style-type: none;
    background: #B4292E;
    padding-top:15px;
    padding-bottom:15px;
    text-align: center;
    }
  }
}

// Hero section

.hero {
  @include span-columns(12);
  border: 10px solid #fff;
img {
  width: 100%;
}
}

.radio-btn {
  @include span-columns(12);
  @include shift(5);
  display: inline-block;
  .button {
    padding: 15px;
  }
  // Blog Posts
}
.story {
  @include span-columns(4 of 12);
  background-color: #fff;
  color: #000;
  padding: 10px;
h1 {
  font-size: 25px;
  font-weight: normal;
}
h3 {
  font-size: 12px;
  color: #929292;
}
p {
  font-size: 10px;
}
  a {
    @include shift(3.5);
    text-decoration: none;
    color: red;
  }
}

// Skaters

.featured {
  @include span-columns(12);
}
figure {
  margin: 0;

}

figure img {
  @include span-columns(4 of 12);

  border: 5px solid #fff;
}
